.mainBtn{
    -fx-background-radius : 10;
    -fx-border-radius : 10;
    -fx-border-color : black;
    -fx-background-color :  lightseagreen;
}
.mainBtn:hover{
    -fx-background-color :  darkcyan;
}